<!-- FAVICON META -->
<link rel="apple-touch-icon" sizes="57x57" href="/assist/assists/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assist/assists/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assist/assistsapple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assist/assistsapple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assist/assists/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assist/assists/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assist/assists/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assist/assists/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assist/assists/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assist/assists/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assist/assists/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assist/assists/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assist/assists/favicon-16x16.png">
<link rel="manifest" href="/assist/assists/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assist/assists/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144021228-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-144021228-1');
</script>

<link rel="stylesheet" type="text/css" href="/assist/css/main_style.css">
<link rel="stylesheet" type="text/css" href="/assist/css/sec_seperator.css">

<link href="http://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="/assist/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
<link rel="stylesheet" type="text/css" href="/assist/revolution/fonts/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/assist/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="/assist/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="/assist/revolution/css/navigation.css">


<script type="text/javascript" src="/assist/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assist/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/assist/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/assist/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/assist/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/assist/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assist/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/assist/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assist/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/assist/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assist/revolution/js/extensions/revolution.extension.video.min.js"></script>
